<div class="org-page">
  <div class="org-main">
    <div class="left-area">
      <img class="org-img" src="./../../assets/brilliant-detroit.png" alt="Brilliant Detroit Logo">
    </div>
    <div class="right-area">
      <h1 class="org-name">Brilliant Detroit</h1>
      <a class="org-url" href="http://brilliantdetroit.org">Visit Website</a>
    </div>
  </div>
  <div class="org-about">
    <h3 class="org-about-title">About</h3>
    <p class="org-about-p">In 2015 Brilliant Detroit was created to provide a radically new approach to kindergarten readiness in neighborhoods. The idea was to create a unique delivery model in our approach to early childhood development by using underutilized housing stock to create early child and family centers in neighborhoods. Input was gathered and a model that is designed with, for, and by neighbors was built. Brilliant Detroit homes provide holistic services for kids 0-8 predicated on evidence-based programs around health, family support, and education. Brilliant Detroit was born to create kid success neighborhoods. Today, in each location, neighbors come together for fellowship, activities and learning to assure school readiness, and provide needed support for families.</p>
  </div>
  <div class="org-details">
    <p class="org-address1">5675 Larkins Street</p>
    <p class="org-address2"></p>
    <p class="org-city-state">Detroit, Michigan 48210</p>
    <p class="org-phone">313-483-8992</p>
    <a class="org-email" href="mailto:info@brilliantdetroit.org">info@brilliantdetroit.org</a>
  </div>
  <div class="donate">
    <button class="org-donate"><a href="http://brilliantdetroit.org">Donate</a></button>
  </div>
</div>
