<div class="org-page">
  <div class="org-main">
    <div class="left-area">
      <img class="org-img" src="./../../assets/bd.jpg" alt="Brilliant Detroit Logo">
    </div>
    <div class="right-area">
      <h1 class="org-name">{{ organization.name }}</h1>
      <a class="org-url" :href="organization.url" target="_blank">Visit Website</a>
    </div>
  </div>
  <hr class="line">
  <div class="org-content">
    <div class="org-about">
      <h3 class="org-subtitle">About</h3>
      <p class="org-about-p">{{ organization.blurb }}</p>
    </div>
    <div class="org-details">
      <h3 class="org-subtitle">Contact Info</h3>
      <p class="org-address1">{{ organization.address_1}}</p>
      <p class="org-address2" v-if="organization.address_2 ** organization.address_2 !== '---'">{{ organization.address_2 }}</p>
      <p class="org-city-state">{{ organization.city}}, {{ organization.state}} {{ organization.zip }}</p>
      <p class="org-phone">{{ organization.phone }}</p>
      <a
        class="org-email"
        :href="'mailto:' + organization.info_email"
        v-if="organization.info_email && organization.info_email !== '---'">
        {{ organization.info_email}}
      </a>
    </div>
  </div>
  <div class="donate-area">
    <button class="org-donate" v-if="organization.donate_url && organization.donate_url != '---'">
      <a class="donate-link" :href="organization.donate_url">Donate to {{ organization.name }}</a>
    </button>
  </div>
</div>
