<h2> HOME PAGE </h2>

<p><h4><%= link_to 'login', login_path %></h4></p>

<p><h3>or</h3></p>

<p><h4><%= link_to 'new user registration', new_user_path %></h4></p>

<p><h4><%= link_to 'new organization registration', new_organization_path %></h4></p>
