<div class="index">
  <h1>Browse Organizations</h1>
  <hr>
  <div class="orgs-list">
    <div class="orgs-item">
      <div class="img-container">
        <img class="item-img" src="./../../assets/bd.jpg" alt="Brilliant Detroit Logo">
      </div>
      <div class="item-content">
        <h2 class="item-name">Brilliant Detroit</h2>
        <p class="item-blurb">Dedicated to building kid success families and neighborhoods where families with children 0-8 have what they need to be school ready, healthy and stable.</p>
        <p class="link-to-page">Read More</p>
      </div>
    </div>
    <div class="orgs-item">
      <div class="img-container">
        <img class="item-img" src="./../../assets/bd.jpg" alt="Brilliant Detroit Logo">
      </div>
      <div class="item-content">
        <h2 class="item-name">Brilliant Detroit</h2>
        <p class="item-blurb">Dedicated to building kid success families and neighborhoods where families with children 0-8 have what they need to be school ready, healthy and stable.</p>
        <p class="link-to-page">Read More</p>
      </div>
    </div>
    <div class="orgs-item">
      <div class="img-container">
        <img class="item-img" src="./../../assets/bd.jpg" alt="Brilliant Detroit Logo">
      </div>
      <div class="item-content">
        <h2 class="item-name">Brilliant Detroit</h2>
        <p class="item-blurb">Dedicated to building kid success families and neighborhoods where families with children 0-8 have what they need to be school ready, healthy and stable.</p>
        <p class="link-to-page">Read More</p>
      </div>
    </div>
  </div>
</div>
